In [1]:
import __init__
import models.cross_validator as cross_validator
import models.datahandler as datahandler
from models.datamodel import DataModel

trial = datahandler.load_train('../data/dataset/tsd_trial.csv', verbose=True)
train = datahandler.load_train('../data/dataset/tsd_train.csv', verbose=True)

datamodel = DataModel(model='cmm', split_toxics=True)

/home/hb/.local/lib/python3.6/site-packages/spacy/util.py:275: UserWarning: [W031] Model 'en_core_web_sm' (2.2.5) requires spaCy v2.2 and is incompatible with the current spaCy version (2.3.2). This may lead to unexpected results or runtime errors. To resolve this, download a newer compatible model or retrain your custom model with the current spaCy version. For more details and available updates, run: python -m spacy validate
  warnings.warn(warn_msg)

,spans,text
0,"[15, 16, 17, 18, 19, 27, 28, 29, 30, 31]",Because he's a moron and a bigot. It's not any...
1,"[29, 30, 31, 32, 33, 34]",How about we stop protecting idiots and let na...
2,"[166, 167, 168, 169, 170, 171]","If people were smart, they would Boycott th..."

,spans,text
0,"[8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19,...",Another violent and aggressive immigrant killi...
1,"[33, 34, 35, 36, 37, 38, 39]","I am 56 years old, I am not your fucking junio..."
2,"[0, 1, 2, 3]","Damn, a whole family. Sad indeed."

In [2]:
#X_train, y_train, train_taboo_words, train_texts = cross_validator.load_data(train, 
#                                                                            [i for i in range(train.shape[0])], 
#                                                                            datamodel, logger=True)

X_test, y_test, test_taboo_words, test_texts = cross_validator.load_data(trial, 
                                                                         [i for i in range(trial.shape[0])], 
                                                                         datamodel, logger=True)

100%|██████████| 690/690 [00:11<00:00, 58.79it/s]

In [3]:
def create_json(X, Y, texts, taboo_words):
    jsn = {}
    for index in range(len(X)):
        jsn[index]={
            'text':texts[index],
            'truth-spans':Y[index],
            'x-test':X[index],
            'taboo-words':taboo_words[index]
        }
    return jsn

In [30]:
def create_df(X, Y, texts, taboo_words):
    data= []
    for index in range(len(X)):
        tokens, spans, text, taboo_word = X[index], Y[index], texts[index], taboo_words[index]
        for item in tokens:
            token, tag, iob, label = item

In [31]:
create_df(X_test, y_test, test_taboo_words, test_texts)

('Because', 'IN', 'O', 'normal')

In [83]:
X_test[5]

[('Only', 'RB', 'O', 'normal'),
 ('an', 'DT', 'O', 'normal'),
 ('idiot', 'NN', 'O', 'toxic'),
 ('would', 'MD', 'O', 'normal'),
 ('use', 'VB', 'O', 'normal'),
 ('and', 'CC', 'O', 'normal'),
 ('believe', 'VB', 'O', 'normal'),
 ('anything', 'NN', 'O', 'normal'),
 ('this', 'DT', 'O', 'normal'),
 ('This', 'DT', 'O', 'normal'),
 ('Republican', 'JJ', 'B', 'normal'),
 ('propaganda', 'NN', 'O', 'normal'),
 ('machine', 'NN', 'O', 'normal'),
 ('publishes', 'VBZ', 'O', 'normal'),
 ('www.realclearpolitics.com', 'ADD', 'O', 'normal')]

In [5]:
index = 1
test_texts[index], len(test_texts[index])

('How about we stop protecting idiots and let nature add some bleach to the gene pool. We can always submit their names for the Darwin awards.',
 140)

In [80]:
index = 2
print(y_test[index])
print(len(test_texts[index]), '\t', test_texts[index].replace('\n','*'))
story = ''
word = ''
for i, w in enumerate(test_texts[index].replace('\n',' ')):
    if w == ' ':
        story += str(i)+w+'\t'+word+'|'+str(len(word))+' \n'
        word = ''
    else:
        story += str(i)+'|'+w + ' '
        word += w

story += '   '+word
print(story)

[166, 167, 168, 169, 170, 171]
188 	 If people  were  smart, they would  Boycott this  inept  airline,  but   they  are  not  smart,  so   rogue  businesses  like  this  one,   still thrive   taking the idiots  for  a ride...
0|I 1|f 2 	If|2
3|p 4|e 5|o 6|p 7|l 8|e 9 	people|6
10 	|0
11|w 12|e 13|r 14|e 15 	were|4
16 	|0
17|s 18|m 19|a 20|r 21|t 22|, 23 	smart,|6
24|t 25|h 26|e 27|y 28 	they|4
29|w 30|o 31|u 32|l 33|d 34 	would|5
35 	|0
36|B 37|o 38|y 39|c 40|o 41|t 42|t 43 	Boycott|7
44|t 45|h 46|i 47|s 48 	this|4
49 	|0
50|i 51|n 52|e 53|p 54|t 55 	inept|5
56 	|0
57|a 58|i 59|r 60|l 61|i 62|n 63|e 64|, 65 	airline,|8
66 	|0
67|b 68|u 69|t 70 	but|3
71 	|0
72 	|0
73|t 74|h 75|e 76|y 77 	they|4
78 	|0
79|a 80|r 81|e 82 	are|3
83 	|0
84|n 85|o 86|t 87 	not|3
88 	|0
89|s 90|m 91|a 92|r 93|t 94|, 95 	smart,|6
96 	|0
97|s 98|o 99 	so|2
100 	|0
101 	|0
102|r 103|o 104|g 105|u 106|e 107 	rogue|5
108 	|0
109|b 110|u 111|s 112|i 113|n 114|e 115|s 116|s 117|e 118|s 119 	businesses|10
120 	|0
121|l 122|i 123|k 124|e 125 	like|4
126 	|0
127|t 128|h 129|i 130|s 131 	this|4
132 	|0
133|o 134|n 135|e 136|, 137 	one,|4
138 	|0
139 	|0
140|s 141|t 142|i 143|l 144|l 145 	still|5
146|t 147|h 148|r 149|i 150|v 151|e 152 	thrive|6
153 	|0
154 	|0
155|t 156|a 157|k 158|i 159|n 160|g 161 	taking|6
162|t 163|h 164|e 165 	the|3
166|i 167|d 168|i 169|o 170|t 171|s 172 	idiots|6
173 	|0
174|f 175|o 176|r 177 	for|3
178 	|0
179|a 180 	a|1
181|r 182|i 183|d 184|e 185|. 186|. 187|.    ride...

In [79]:
import re
index = 50
print(y_test[index])
print()
indecis = [(m.start(), m.end()-1) for m in re.finditer(r'\S+', test_texts[index].replace('\n',' '))]

for c in indecis:
    print(test_texts[index].replace('\n',' ')[c[0]: c[1]+1], '\t', [i for i in range(c[0], c[1]+1)])

[185, 186, 187, 188, 189, 190, 191, 192, 193]

what 	 [0, 1, 2, 3]
is 	 [5, 6]
too 	 [8, 9, 10]
pathetic 	 [12, 13, 14, 15, 16, 17, 18, 19]
is 	 [21, 22]
the 	 [24, 25, 26]
lie 	 [28, 29, 30]
you 	 [32, 33, 34]
just 	 [36, 37, 38, 39]
fell 	 [41, 42, 43, 44]
for, 	 [46, 47, 48, 49]
no 	 [51, 52]
one 	 [54, 55, 56]
will 	 [58, 59, 60, 61]
loose 	 [63, 64, 65, 66, 67]
health 	 [69, 70, 71, 72, 73, 74]
care 	 [76, 77, 78, 79]
loser, 	 [81, 82, 83, 84, 85, 86]
there 	 [88, 89, 90, 91, 92]
is 	 [94, 95]
to 	 [97, 98]
be 	 [100, 101]
a 	 [103]
national 	 [105, 106, 107, 108, 109, 110, 111, 112]
fund 	 [114, 115, 116, 117]
to 	 [119, 120]
ensure 	 [122, 123, 124, 125, 126, 127]
that,,, 	 [129, 130, 131, 132, 133, 134, 135]
You 	 [138, 139, 140]
are 	 [142, 143, 144]
the 	 [146, 147, 148]
far 	 [150, 151, 152]
nut 	 [154, 155, 156]
job 	 [158, 159, 160]
lunatic 	 [162, 163, 164, 165, 166, 167, 168]
left 	 [170, 171, 172, 173]
fringe 	 [175, 176, 177, 178, 179, 180]
of 	 [182, 183]
stupidity 	 [185, 186, 187, 188, 189, 190, 191, 192, 193]

In [74]:
(0, 3) in (-10,10)

False