In [1]:
ls

data/            evaluator/    models/       pretrained-models/  toxic_spans/
datavisualizer/  experiments/  models-jnbs/  README.md           trash/
error-analysis/  images/       papers/       submissions/        Untitled.ipynb

In [3]:
ls data/dataset

old/  tsd_test.csv  tsd_train.csv  tsd_trial.csv  v2/

In [7]:
import pandas as pd
test=pd.read_csv("data/dataset/tsd_test.csv")
test.head()

                                                text
0  That's right. They are not normal. And I am st...
1  "Watch people die from taking away their healt...
2  tens years ago i contacted the PDR and suggest...
3  The parallels between the ANC and the Sicilian...
4  Intel Community: ‘How can we work for a Presid...

In [8]:
test['spans'] = [ [] for _ in range(test.shape[0])]

In [9]:
test

                                                   text spans
0     That's right. They are not normal. And I am st...    []
1     "Watch people die from taking away their healt...    []
2     tens years ago i contacted the PDR and suggest...    []
3     The parallels between the ANC and the Sicilian...    []
4     Intel Community: ‘How can we work for a Presid...    []
...                                                 ...   ...
1995  hey loser change your name to something more a...    []
1996  And you are a complete moron who obviously doe...    []
1997  Such vitriol from the left.  Who would have th...    []
1998  It is now time for most of you to expand your ...    []
1999  Why does this author think she can demand, or ...    []

[2000 rows x 2 columns]

In [10]:
test.to_csv("tsd_test.csv", index=False)