In [29]:
ls ../data/dataset-v2

train-token-df.csv  train-trail-tokens.zip  trial-token-df.csv

In [30]:
import pandas as pd

train_tokens = pd.read_csv("../data/dataset-v2/train-token-df.csv")
trial_tokens = pd.read_csv("../data/dataset-v2/trial-token-df.csv")

In [31]:
train_tokens.head(2)

,index,text,grand-truth,taboo-words,token,token-tag,token-iob,token-span,class
0,0,Another violent and aggressive immigrant killi...,"[8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19,...",['violent and aggressive immigrant'],Another,DT,O,"[0, 1, 2, 3, 4, 5, 6]",normal
1,0,Another violent and aggressive immigrant killi...,"[8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19,...",['violent and aggressive immigrant'],violent,JJ,O,"[8, 9, 10, 11, 12, 13, 14]",toxic

In [35]:
size = 100

train = ""
groups = train_tokens.groupby('index')
for i in range(size):
    df = groups.get_group(i)
    tokens, classes = df['token'].tolist(), df['class'].tolist()
    for j, token in enumerate(tokens):
        train += (token + "\t" + classes[j] + "\n")
    if i - 1 != size:
        train += "\n"

trial = ""
groups = trial_tokens.groupby('index')
for i in range(size):
    df = groups.get_group(i)
    tokens, classes = df['token'].tolist(), df['class'].tolist()
    for j, token in enumerate(tokens):
        trial += (token + "\t" + classes[j] + "\n")
    if i - 1 != size:
        trial += "\n"

In [36]:
with open("../data/dataset-v2/train100.txt",'w' ,encoding='utf-8') as f:
    f.write(train)
    
with open("../data/dataset-v2/trial100.txt",'w' ,encoding='utf-8') as f:
    f.write(trial)

In [37]:

with open("BiLSTM-CRF/data/train.txt",'w' ,encoding='utf-8') as f:
    f.write(train)
    
with open("BiLSTM-CRF/data/test.txt",'w' ,encoding='utf-8') as f:
    f.write(trial)